In [1]:
import pandas as pd
import numpy as np
import scipy.io as sio

import dataloader
import bandpower

In [2]:
A, B, C = dataloader.read_data()

Load data from .mat files...

In [3]:
C

,session,semester,subject,depression,anxiety,stress,number,taskLabel,purpose,session,...,Unnamed: 20,modality,NA,NA.1,NA.2,NA.3,NA.4,NA.5,NA.6,channels
0,'20140922_s1',1,1,18,20,38,1.0,"resting, lecture",attention/fatigue,20140922_s1,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
1,'20141103_s1+s2',1,1,28,28,30,2.0,"resting, lecture",attention/fatigue,20141103_s1+s2,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
2,'20141201_s1+s2',1,1,34,34,32,3.0,"resting, lecture",attention/fatigue,20141201_s1+s2,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
3,'20141215_s1+s2',1,1,26,24,22,4.0,"resting, lecture",attention/fatigue,20141215_s1+s2,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
4,'20141229_s1+s2',1,1,36,26,30,5.0,"resting, lecture",attention/fatigue,20141229_s1+s2,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,'20150506_s24+s25+s26',2,26,0,0,6,167.0,"resting, exam, questions",stress,20150624_s23+s24+s25+s26,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
166,'20150527_s23+s24+s25+s26',2,26,0,0,0,168.0,"resting, lecture",attention/fatigue,20150408_s23+s24+s25+s26,...,imported,EEG+ECG,1000.0,NeuroScan,SynAmps2,30.0,Ⅰ,"M1, M2",Quik-Cap Ref,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
167,'20150603_s23+s24+s25+s26',2,26,0,0,0,169.0,"resting, lecture",attention/fatigue,20150415_s23+s24+s25+s26,...,imported,EEG+ECG,1000.0,NeuroScan,SynAmps2,30.0,Ⅰ,"M1, M2",Quik-Cap Ref,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
168,'20150610_s23+s24+s25+s26',2,26,0,0,0,170.0,"resting, lecture",attention/fatigue,20150429_s24+s25+s26,...,imported,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."
169,'20150617_s23+s26',2,26,0,0,0,171.0,"resting, lecture",attention/fatigue,20150506_s24+s25+s26,...,20150506_S6_events.csv,EEG+ECG,1000.0,NeuroScan,NuAmps,30.0,"Ⅰ, Ⅱ","A1, A2",Mastoids,"[C3, C4, CP3, CP4, CPZ, CZ, F3, F4, F7, F8, FC..."

# Extract stress from excel

In [2]:
df = pd.read_csv('./data/SFC_DASS21.csv')
df.head()

            session  semester  subject  depression  anxiety  stress
0     '20140922_s1'         1        1          18       20      38
1  '20141103_s1+s2'         1        1          28       28      30
2  '20141201_s1+s2'         1        1          34       34      32
3  '20141215_s1+s2'         1        1          26       24      22
4  '20141229_s1+s2'         1        1          36       26      30

In [3]:
df['stress'].describe()

count    171.000000
mean       7.450292
std        8.510315
min        0.000000
25%        0.000000
50%        4.000000
75%       12.000000
max       38.000000
Name: stress, dtype: float64

In [4]:
df[df['subject']<19]

               session  semester  subject  depression  anxiety  stress
0        '20140922_s1'         1        1          18       20      38
1     '20141103_s1+s2'         1        1          28       28      30
2     '20141201_s1+s2'         1        1          34       34      32
3     '20141215_s1+s2'         1        1          26       24      22
4     '20141229_s1+s2'         1        1          36       26      30
..                 ...       ...      ...         ...      ...     ...
89  '20141002_s17+s18'         1       18           2        2       0
90  '20141023_s17+s18'         1       18           0        2       0
91  '20141127_s17+s18'         1       18           2        4       4
92  '20141211_s17+s18'         1       18           2        2       0
93  '20150108_s17+s18'         1       18           2        2       2

[94 rows x 6 columns]

In [8]:
# Get increased stress or normal label for each subject
num_sub = 26
group_mean = df.groupby(by='subject').mean()
labels = []

for i in range(len(df)):
    stress_sub = df.iloc[i]['stress']
    sub = df.iloc[i]['subject']
    threshold = group_mean.loc[sub]['stress']
    
    labels.append(stress_sub>threshold)
    
labels = np.asarray(labels, 'int')
df['label'] = labels
print('Label 1: %d, Label 0: %d'%(np.sum(labels), len(labels)-np.sum(labels)))

Label 1: 58, Label 0: 113

In [9]:
df.head()

            session  semester  subject  depression  anxiety  stress  label
0     '20140922_s1'         1        1          18       20      38      1
1  '20141103_s1+s2'         1        1          28       28      30      0
2  '20141201_s1+s2'         1        1          34       34      32      1
3  '20141215_s1+s2'         1        1          26       24      22      0
4  '20141229_s1+s2'         1        1          36       26      30      0

## Extract EEG data from mat files

In [14]:
A, B, C = dataloader.read_data()

Load data from .mat files...

In [25]:
channels = sio.loadmat('./data/ch_lib.mat')
df = pd.DataFrame(columns = ['ID'] + list(range(30)))

for i in range(len(channels['ch_lib'])):
    channels_i = channels['ch_lib'][i][0][0]
    channels_select_i = [channels_i[i][0] for i in range(len(channels_i))]
    num_channel_i = len(channels_select_i)
    df.loc[i] = [i+1] + list(channels_select_i) + ['None']*(30-num_channel_i)

In [26]:
df

,ID,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,1,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8
1,2,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8
2,3,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8
3,4,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8,None
4,5,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,167,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,P7,P8,PZ,T7,T8,TP7,TP8
167,168,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,P7,P8,PZ,T7,T8,TP7,TP8
168,169,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,P7,P8,PZ,T7,T8,TP7,TP8
169,170,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,P7,P8,PZ,T7,T8,TP7,TP8
170,171,C3,C4,CP3,CP4,CPZ,CZ,F3,F4,F7,...,OZ,P3,P4,PZ,T3,T4,T5,T6,TP7,TP8

In [6]:
channels_i = channels['ch_lib'][0][0][0]
channels_select_i = [channels_i[i][0] for i in range(len(channels_i))]
channels_select_i

['C3',
 'C4',
 'CP3',
 'CP4',
 'CPZ',
 'CZ',
 'F3',
 'F4',
 'F7',
 'F8',
 'FC3',
 'FC4',
 'FCZ',
 'FP1',
 'FP2',
 'FT7',
 'FT8',
 'FZ',
 'O1',
 'O2',
 'OZ',
 'P3',
 'P4',
 'PZ',
 'T3',
 'T4',
 'T5',
 'T6',
 'TP7',
 'TP8']

In [4]:
dataloader.find_common_channels()

['C4', 'CP3', 'CP4', 'F7', 'F8', 'FC4', 'FZ', 'P3']