In [1]:
import pandas as pd
import numpy as np
import scipy.io as sio

import dataloader

In [2]:
A, B = dataloader.read_data()

Sub  1
Sub  2
Sub  3
Sub  4
Sub  5
Sub  6
Sub  7
Sub  8
Sub  9
Sub  10
Sub  11
Sub  12
Sub  13
Sub  14
Sub  15
Sub  16
Sub  17
Sub  18
Sub  19
Sub  20
Sub  21
Sub  22
Sub  23
Sub  24
Sub  25
Sub  26
Sub  27
Sub  28
Sub  29
Sub  30
Sub  31
Sub  32
Sub  33
Sub  34
Sub  35
Sub  36
Sub  37
Sub  38
Sub  39
Sub  40
Sub  41
Sub  42
Sub  43
Sub  44
Sub  45
Sub  46
Sub  47
Sub  48
Sub  49
Sub  50
Sub  51
Sub  52
Sub  53
Sub  54
Sub  55
Sub  56
Sub  57
Sub  58
Sub  60
Sub  61
Sub  62
Sub  63
Sub  64
Sub  65
Sub  66
Sub  67
Sub  68
Sub  69
Sub  70
Sub  71
Sub  72
Sub  73
Sub  74
Sub  75
Sub  76
Sub  77
Sub  78
Sub  79
Sub  80
Sub  81
Sub  82
Sub  83
Sub  84
Sub  85
Sub  86
Sub  87
Sub  88
Sub  89
Sub  90
Sub  91
Sub  92
Sub  93
Sub  94
Sub  95
Sub  96
Sub  97
Sub  98
Sub  99
Sub  100
Sub  101
Sub  102
Sub  103
Sub  104
Sub  105
Sub  106
Sub  107
Sub  108
Sub  109
Sub  110
Sub  111
Sub  112
Sub  113
Sub  114
Sub  115
Sub  116
Sub  117
Sub  118
Sub  119
Sub  120
Sub  121
Sub  122
Sub  123
Sub  124
Sub  125
Sub  126
Sub  127
Sub  128
Sub  129
Sub  130
Sub  131
Sub  132
Sub  133
Sub  134
Sub  135
Sub  136
Sub  137
Sub  138
Sub  139
Sub  140
Sub  141
Sub  142
Sub  143
Sub  144
Sub  145
Sub  146
Sub  147
Sub  148
Sub  149
Sub  150
Sub  151
Sub  152
Sub  153
Sub  154
Sub  155
Sub  156
Sub  157
Sub  158
Sub  159
Sub  160
Sub  161
Sub  162
Sub  163
Sub  164
Sub  165
Sub  166
Sub  167
Sub  168
Sub  169
Sub  170
Sub  171

# Extract stress from excel

In [19]:
df = pd.read_csv('./data/SFC_DASS21.csv')
df.head()

            session  semester  subject  depression  anxiety  stress
0     '20140922_s1'         1        1          18       20      38
1  '20141103_s1+s2'         1        1          28       28      30
2  '20141201_s1+s2'         1        1          34       34      32
3  '20141215_s1+s2'         1        1          26       24      22
4  '20141229_s1+s2'         1        1          36       26      30

In [20]:
df.groupby(by='subject').sum().head()

         semester  depression  anxiety  stress
subject
1               6         178      164     188
2               6          32       28      34
3               8          40       92     134
4               7          30       60      82
5               7           0        2       2

In [21]:
# Get increased stress or normal label for each subject
num_sub = 26
group_mean = df.groupby(by='subject').mean()
labels = []

for i in range(len(df)):
    stress_sub = df.iloc[i]['stress']
    sub = df.iloc[i]['subject']
    threshold = group_mean.loc[sub]['stress']
    
    labels.append(stress_sub>threshold)
    
labels = np.asarray(labels, 'int')
df['label'] = labels

In [88]:
df.head()

            session  semester  subject  depression  anxiety  stress  label
0     '20140922_s1'         1        1          18       20      38      1
1  '20141103_s1+s2'         1        1          28       28      30      0
2  '20141201_s1+s2'         1        1          34       34      32      1
3  '20141215_s1+s2'         1        1          26       24      22      0
4  '20141229_s1+s2'         1        1          36       26      30      0

## Extract EEG data from mat files

In [2]:
EEG = sio.loadmat('./data/rawdata/1.mat')

In [17]:
EEG['tmp'].shape[1]/500

600.002

In [47]:
channels = sio.loadmat('./data/ch_lib.mat')

In [67]:
channel_all_list = [channels['ch_lib'][0][0][0][i_channel][0] for i_channel in range(30)]

['C3', 'C4', 'CP3', 'CP4', 'CPZ', 'CZ', 'F3', 'F4', 'F7', 'F8', 'FC3', 'FC4', 'FCZ', 'FP1', 'FP2', 'FT7', 'FT8', 'FZ', 'O1', 'O2', 'OZ', 'P3', 'P4', 'PZ', 'T3', 'T4', 'T5', 'T6', 'TP7', 'TP8']

In [69]:
channel_all_list = [channels['ch_lib'][0][0][0][i_channel][0] for i_channel in range(30)]

for i_sub in range(len(channels['ch_lib'])):
    
    if len(channels['ch_lib'][i_sub][0][0])==0:
        continue
        
    print('Sub: ', i_sub)
    channel_list = [channels['ch_lib'][i_sub][0][0][i_channel][0] for i_channel in range(len(channels['ch_lib'][i_sub][0][0]))]
    for channel in channel_all_list:
        if channel not in channel_list:
            channel_all_list.remove(channel)
            print(channel)

Sub:  0
Sub:  1
Sub:  2
Sub:  3
FP1
Sub:  4
Sub:  5
Sub:  6
FP2
OZ
Sub:  7
Sub:  8
Sub:  9
Sub:  10
Sub:  11
Sub:  12
FC3
O1
Sub:  13
Sub:  14
Sub:  15
Sub:  16
Sub:  17
Sub:  18
Sub:  19
Sub:  20
Sub:  21
Sub:  22
Sub:  23
Sub:  24
Sub:  25
Sub:  26
Sub:  27
Sub:  28
Sub:  29
Sub:  30
Sub:  31
Sub:  32
CPZ
Sub:  33
Sub:  34
F3
Sub:  35
Sub:  36
Sub:  37
Sub:  38
Sub:  39
Sub:  40
T4
Sub:  41
Sub:  42
Sub:  43
Sub:  44
Sub:  45
Sub:  46
O2
Sub:  47
T3
Sub:  48
Sub:  49
Sub:  50
Sub:  51
Sub:  52
Sub:  53
Sub:  54
Sub:  55
Sub:  56
Sub:  57
Sub:  59
Sub:  60
Sub:  61
Sub:  62
Sub:  63
C3
Sub:  64
Sub:  65
Sub:  66
Sub:  67
Sub:  68
Sub:  69
Sub:  70
Sub:  71
Sub:  72
Sub:  73
F4
Sub:  74
Sub:  75
Sub:  76
Sub:  77
Sub:  78
Sub:  79
FT8
Sub:  80
Sub:  81
Sub:  82
Sub:  83
Sub:  84
TP7
Sub:  85
Sub:  86
Sub:  87
Sub:  88
Sub:  89
Sub:  90
Sub:  91
TP8
Sub:  92
Sub:  93
Sub:  94
Sub:  95
Sub:  96
Sub:  97
Sub:  98
T5
Sub:  99
T6
Sub:  100
Sub:  101
Sub:  102
Sub:  103
Sub:  104
Sub:  105
Sub:  106
Sub:  107
Sub:  108
Sub:  109
Sub:  110
Sub:  111
Sub:  112
Sub:  113
Sub:  114
Sub:  115
Sub:  116
Sub:  117
Sub:  118
Sub:  119
Sub:  120
Sub:  121
Sub:  122
Sub:  123
Sub:  124
Sub:  125
Sub:  126
Sub:  127
FCZ
Sub:  128
P4
Sub:  129
Sub:  130
Sub:  131
Sub:  132
Sub:  133
Sub:  134
Sub:  135
Sub:  136
Sub:  137
Sub:  138
Sub:  139
Sub:  140
Sub:  141
Sub:  142
Sub:  143
Sub:  144
Sub:  145
Sub:  146
Sub:  147
Sub:  148
Sub:  149
Sub:  150
Sub:  151
Sub:  152
Sub:  153
Sub:  154
Sub:  155
Sub:  156
PZ
Sub:  157
Sub:  158
CZ
Sub:  159
Sub:  160
Sub:  161
FT7
Sub:  162
Sub:  163
Sub:  164
Sub:  165
Sub:  166
Sub:  167
Sub:  168
Sub:  169
Sub:  170